<section class="grid-container">
  <div class="grid-item">
    <app-header></app-header>
  </div>

  <div class="grid-item">
    <main class="content">
      <section class="register-wrapper">
        <div class="register-form-header">
          <h2 class="register-form-title">Register</h2>
        </div>
        <div class="register-form-wrapper">
          <app-registration-form (registrationFormSubmitted)="handleRegisterFormSubmit($event)"></app-registration-form>
        </div>
      </section>
    </main>
  </div>

  <div class="grid-item">
    <footer class="footer"></footer>
  </div>
</section>


