@import './src/app/app.variables';

* {
  box-sizing: border-box;
  font-family: $main-font-family;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  display: flex;
  flex-direction: column;
}
