<div class="search-form">
  <input id="search-input" class="search-field" type="text" placeholder="search by item name"/>
  <select class="categories-dropdown" name="" id="">
    <option selected value="all">All Categories</option>
    <option value="beauty salons">beauty salons</option>
    <option value="for motorists">for motorists</option>
    <option value="sightseeing ride">sightseeing ride</option>
    <option value="for gourmets">for gourmets</option>
    <option value="photosession">photosession</option>
  </select>
</div>
